<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Test">
  <parameter name="browser" value="Firefox"/>
  <parameter name="baseURL" value="http://phptravels.net/"/>
   <groups>
    <define name="smoke-tcs">
      <include name="mandatory"/>
      <include name="smoke"/>
    </define>
  
   <define name="reg-tcs">
      <include name="mandatory"/>
      <include name="regression"/>
    </define>
    
   <define name="home-tcs">
      <include name="mandatory"/>
      <include name="home"/>
    </define>
    
    <define name="flight-tcs">
      <include name="mandatory"/>
      <include name="flight"/>
    </define>
  
    <define name="hotel-tcs">
      <include name="mandatory"/>
      <include name="hotel"/>
    </define>
    
    <run>
      <include name="hotel-tcs"/>
      <exclude name="regression"></exclude>
    </run>
  </groups>
	<classes>
			<class name="com.visa.driver.Driver"/>
			<class name="com.visa.testcases.HomePageTCRun"/>
			<class name="com.visa.testcases.FlightSearchTCRun"/>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->